ion-title{
    text-align: center;
    font-family: serif;
}
ion-img{
    display: block;
    margin: auto;
}
h2{
    text-align: center;
    font-family: serif;
    text-decoration: underline;
}
div{
    margin: 1em;
}
ion-content{
    margin: 1em;
}
ion-label.FleaTData{
    color: red;
}
ion-label.FleaTDataLow{
    color: green;
}